.task
  &__container
    display: flex
    align-items: center
    position: relative
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.1))
    margin: 0 auto
    flex-direction: column
    //height: 40px
  &__body
    width: 100%
    //height: 100%
    display: flex
    align-items: center
    justify-content: space-between
    border-radius: 25px
    background: #E47676
    margin-bottom: 10px
    &:hover
      background: #B25C5C
      cursor: pointer
  &__button
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    & svg
      width: 16px
      height: 16px //20px
  &__left-button
    background: #E47676
    &:hover
      background: #B25C5C
      cursor: pointer
    //& svg
    //  width: 16px
    //  height: 16px //20px
  &__right-button
    background: #E47676
    &:hover
      background: #B25C5C
      cursor: pointer
    //& svg
    //  width: 16px
    //  height: 16px //20px
  &__count-container
    z-index: 10
  &__field
    margin-bottom: 0
  &__item-container
    flex-grow: 1
    display: flex
    justify-content: space-between
    padding: 0 15px
    font-size: 16px
