.app
  &__task
    margin-bottom: 15px !important
    &:last-of-type
      margin-bottom: 0 !important
  &__container
    min-width: 324px
    margin: 0 auto
  &__control-panel
    //padding: 10px 0
  &__tasks-group
    padding: 10px 0

